.white-box2 {
    width: 70%;
    height: 250px;
    background-color: #f5f4f4;
    border-radius: 30px;
    margin-top: 20px;
}

#hy-page {
    margin-top: 35px;
}

#hy-title {
    font-weight: 700;
    font-size: 1.7rem;
}

.inbox-margin {
    position: relative;
    top: 20px;
    width: 93%;
    height: 170px;
}

.white-box2 p {
    font-family: sans-serif;
    font-weight: 300;

}