ion-content div.scroll{
	position: relative;
	height: 90%;
}

.webPage {
	position: relative;
	width: 100%;
	height: 108%;
	border: 2px solid white;
	padding: 1rem;
	top: -112px;
}

.noScroll scroll-content {
	height:100% !important;
	overflow: hidden !important;
}

#iframeInfo {
	position: absolute;
	right: 0px;
	bottom: 0px;
}