ion-content {
    position: relative;
}

#mainButtonsDiv {
    position: absolute;
    top: 39%;
    width: 100%;
}

#github {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 25px;
}

#githubLogo {
    color: #504949 !important;
}

#mail {
    position: absolute;
    bottom: 7px;
    right: 50px;
    font-size: 25px;
    color: #504949 !important;
}