.lockerButton {
    width: 70%;
    height: 80px;
    margin: 30px 0 15px 0;
}

#alertIcon {
    font-size: 30px;
}

#noticeReservation {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.redClass {
    color: red;
}

#lockerRefreshButton {
    position: absolute;
    bottom: 30px;
    right: 0px;
}

#refreshIcon {
    font-size: 30px;
    color: white;
    position: relative;
    right: 10px;
}

#lockersInfo {
    position: absolute;
    bottom: 0px;
    left: 0px;
    font-size: 10px;
}

#lockerButtonsDiv {
    position: relative;
    top: 10px;
}

#lockerImg {
    position: relative;
    left: -20px;
    width: 40px;
}

#inLockerButtonP {
    color: white;
}