#dev-page {
    margin-top: 35px;
}


#githubLogo {
    color: white !important;
    font-size: 3.5rem;
    position: relative;
    right: 11px;
}

.white-box {
    width: 70%;
    height: 187px;
    background-color: #f5f4f4;
    border-radius: 30px;
    margin-top: 20px;
}

.white-box p {
    font-family: sans-serif;
    font-weight: 300;
    font-size: 1.7rem;
    position: relative;
    top: 60px;
}